
<%- include("partials1/header"); -%>


<h1><%=title%></h1>
<p><%=content%></p>


<!-- <form action="" method="post">
<button>Delete</button>
</form> -->


<form action="/delete" method="post">
<div class="item">
  <!-- <input type="hidden" name="del"> -->
  <button  name="del"  value="<%=id%>" > Delete </button>
</div>
</form>




<%- include("partials1/footer"); -%>
